{% extends 'base.html.twig' %}

{% block title %}Blog TP{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Bienvenue sur <span class="badge bg-warning fs-1 p-2 text-dark">Blog TP</span></h1>

{% endblock %}
